body{
	margin:1%;
	padding:1%;
	font-size:150%;
	font-family: "Poppins", sans-serif;
	background-image: url("../images/maxresdefault.jpg");
	background-color: #707070;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}


#logo{
	animation: 2s fadeIn;
}

.project{
	display: grid;
	grid-template-rows: 5% 85% 5% 5%;
	gap: 20px;
	
	/*
	justify-items: center;
	justify-content: center;
	margin-top: 10px;
	padding: 50px 200px;
	*/
}



h1, h2{
	font-size: 2em; 
	font-weight: bold;
}


.index img, .project img, .experience img{
	max-width: 500px;
	width: 50%;
	height: auto;
}

main{
	border: 3px dashed rgb(0, 0, 0);
	margin: 20px 0px;
}


header{
	width: 100%;
}

nav{
	padding: 30px 120px;
	background-color: #303030;
}

nav li{
	width: 150px;
	height: auto;
	text-align: center;
	display: inline-block;

}

nav a[href] {
	color: white;
	text-decoration: None ;
  }

nav a:hover{
	color:rgb(57, 199, 255);
	font-weight: bold;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	background-color: rgb(235, 235, 235);
}

.gallery figure {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);	
	padding-bottom: 10px;
	width: 50%;
	height: auto;
}

.gallery figcaption{
	/*padding-left: 35px;*/
	text-align: center;
}

.gallery img{
	width: 90%;
	height: auto;
	border: 5px solid #555;
    padding: 15px;
    margin: 10px;
	transition: .5s ease;
}

.gallery img:hover{
	box-shadow: 0 0 0 10px #555;
	transition: .5s ease;
}


p, h1, h2 {
    padding: 20px;
}



@keyframes fadeIn {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}


@media screen and (prefers-reduced-motion: reduce){
	.gallery img{
	  animation: none;
	}
  }