body{
	margin:1%;
	padding:1%;
	font-size:150%;
}

h1{
	font-size: 2em; 
	font-weight: bold;
}


h2{
	font-size: 2em; 
	font-weight: bold;
}

main{
	border: 3px dashed rgb(0, 0, 0);
	margin: 20px 0px;
}


nav{
	padding: 35px 120px;
	background-color: #303030;
}

nav li{
	width: 150px;
	height: auto;
	text-align: center;
	display: inline-block;

}

nav a[href] {
	color: white;
	text-decoration: None ;
  }

nav a:hover{
	color:rgb(57, 199, 255);
	font-weight: bold;
}


.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 600px);
	gap: 20px;
	margin-top: 10px;
	padding: 50px 200px;
	justify-items: center;
	justify-content: center;
	background-color: rgb(235, 235, 235);
}

.gallery figure {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);	
}

.gallery figcaption{
	padding-left: 35px;
}

.gallery img{
    height: 400px;
	width:auto;
	border: 5px solid #555;
    padding: 15px;
    margin: 10px;
	transition: .5s ease;
}

.gallery img:hover{
	box-shadow: 0 0 0 10px #555;
	transition: .5s ease;
}


p, h1, h2 {
    padding: 20px;
}



